*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}
.container{
    width: 100%;
    height:90vh;

    background:#cda5df;
    display:flex;
    align-items:center;
    justify-content:center;

    display: flex;
}
.intro{
    width: 75%;
    height:50%;
    margin-left:5%;
    background:#fff;
    top:20;
    left:5%;
    text-align:center;
    padding:0 50px 50px;
    border-radius: 10px;
}
.intro h2{
    font-size:20px;
    font-weight:500;
    margin:30px;
    text-align:left;
}
.intro p{
    font-size:15px;
    font-weight:450;
    margin:30px;
    text-align:left;
}
.intro button{
    width:35%;
    margin:30px;
    display:inline;
    padding: 20px 0px;
    background: #cda5df;
    border:none;
    font-size:14px;
    border-radius: 10px;
    cursor:pointer;
        float:left;
}
.popup{
   width: 75%;
   margin-left:25%;
       height:50%;
       background:#fff;
       top:100;
       left:5%;
       text-align:center;
       padding:0 50px 50px;
       border-radius: 10px;
    border:2px solid #000000;
    transform:translate(-50%,-50%) scale(0.1);
    transition:transform0.4s,top 0.4s;
    visibility:hidden;
}
.open-popup{
    visibility:visible;
    top:50%;
    transform: translate(-50%,-50%) scale(1);
}
.popup h2{
    font-size:20px;
    font-weight:500;
    margin:10px;
    text-align:left;
}
.popup p{
    font-size:15px;
    font-weight:450;
    margin:10px;
    text-align:left;
}
.popup button{
    width:35%;
    margin:10px;
    display:inline;
    padding: 20px 0px;
    background:#cda5df;
    border:none;
    font-size:14px;
    border-radius: 10px;
    cursor:pointer;
    box-shadow:1px 2px;
    float:left;
}

.comment{
           width: 75%;
           height:0%;
           background:#cda5df;
           margin:auto;
           padding:0 50px 50px;
           border-radius: 10px;
top:15px;
            text-align:center;
            visibility:hidden;
        }
 .comment h2{

         font-size:25px;
         font-weight:500;
         margin:5px;

         text-align: center;
         }

.comment img{
    width:35px;
    margin:-5px;
    float:right;
    }

.open-comment
{
    visibility:visible;
}